fastapi==0.115.6
uvicorn[standard]==0.34.0
python-dotenv==1.0.1
snaptrade-python-sdk==11.0.9
pydantic==2.10.5
cryptography==41.0.7
psycopg[binary]==3.2.3
plaid-python==29.1.0
numpy
pandas
requests
scipy